button {
  width: 160px;
}

.main {
  flex-grow: 1;
}

.wrapper {
  max-width: 760px;
  margin: 0 auto;
}

.footer {
  width: calc(100% - 8px);
  position: absolute;
  bottom: 10px;
}

.copyright {
  color: grey;
  text-align: center;
}